
body {
    background: #202140;
    }
.profile-container {
    background: #302E59;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid #f8f4f7;
    border-radius: 150px;
    width: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    height: 692px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
} 
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-details p {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .profile-details strong {
    color: #ffffff;
  }
  