body {
  background:  #202140;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
  max-width: 100%; 
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background: #302E59;
  box-sizing: border-box;

}

.form-camera {
  display: inline-block;
  vertical-align: top;
  width: 640px; 
  height: 480px; 
  border-radius: 10px;
  border: 1px solid #F29B9B;
  overflow: hidden; 
  background: #ccc;
}

.form-navigasyon {
  width: 840px;
  height: 480px;
  padding: 50px;
  border: 1px solid #F29B9B;
  border-radius: 23px;
  background: #ccc;
}

.form-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background: #302E59;
  position: relative;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.joystick {
  width: 200px;
  height: 200px;
  position: relative;
}

.form-right-aligned {
  display: flex;
  align-items: center;
}

#ip-address-input {
  flex-grow: 1;
  margin-right: 10px;
}

#ip-address-input {
  flex-grow: 1;
  margin-right: 10px;
}

.inputButton {
  border: none;
  background: #774967;
  color: white;
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 0.9vw; 
  margin-right: 10px;
}
.form-group {
  display: flex;
  flex-direction: row; /* Yatay hizalama */
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
}

.form-group input {
  flex: 5;
  
}
.inputButton:disabled {
  background: grey;
  cursor: not-allowed;
}

.inputBox {
  height: 48px;
  border-radius: 8px;
  border: 1px solid grey;
  border: 1px solid #F29B9B;
  padding-left: 8px;
  color: rgb(0, 0, 0);
  width: 100%;
  width: 1000%;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1.2vw; 
  margin-right: 10px;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #202140;
}

